<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/assets/css/search-style.css" rel="stylesheet"/>
    <link href="/assets/css/add-to-cart.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #FFB30E">
    <div class="container">
        <a class="navbar-brand" href="#"><img class="d-inline-block" style="background-color: white; padding: 3px"
                                              src="/assets/img/gallery/logo.svg"
                                              alt="logo"/><span
                style="color: white; margin-left: 5px; font-weight: 700; font-size: x-large">FoodwaGon</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8081/index"
                       style="color: white; font-weight: 555; font-size: large">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/index/search-results" style="color: white; font-weight: 555; font-size: large">Order Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/about" style="color: white; font-weight: 555; font-size: large">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/contact" style="color: white; font-weight: 555; font-size: large">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/login" style="color: white; font-weight: 555; font-size: large">Login</a>
                </li>
                <li class="nav-item basket" style="background-color:white">
                    <a class="nav-link" href="http://localhost:8081/index/add-to-cart" style="color: #FFB30E; font-weight: 555; font-size: large">
                        <i class="fas fa-shopping-cart"></i>
                        Cart <span id="numberOfProducts">0</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/logout" style="color: white; font-weight: 555; font-size: large">Logout</a>
                </li>
                <li class="nav-item">
                    <span style="color: orange; background-color: white; padding: 10px 20px; border-radius: 10px; font-size: 20px; margin-left: 25px; font-weight: bold" th:if="${#request.remoteUser}" th:text="${#request.remoteUser}" />
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="products-container" style="margin-top: 130px">
    <div class="product-header">
        <h5 class="products-title">PRODUCT</h5>
        <h5 class="price" style="padding-left: 45px">PRICE</h5>
        <h5 class="quantity" style="padding-left: 45px">QUANTITY</h5>
        <h5 class="total">TOTAL</h5>
    </div>
    <div class="products"></div>
    <button type="button" class="complete-order-btn" onClick="alert('Your order is complete')" style="margin-bottom: 10px">Complete Order</button>
</div>
<footer class="text-center text-white" style="background-color: #FFB30E; width: 100%">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Register for free</span>
                <a href="http://localhost:8081/register"><button type="button" class="btn btn-outline-light btn-rounded">
                    Sign up!
                </button></a>
            </p>
        </section>
        <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script th:inline="javascript">    //--------------------Add To Cart-------------------------------------------


function onLoadCartNumbers() {
    let productNumbers = localStorage.getItem("cartNumbers");

    document.querySelector(".basket span").textContent = productNumbers;
}


function displayCart() {
    let cartItems = localStorage.getItem('productsInCart');
    console.log(cartItems)
    cartItems = JSON.parse(cartItems);
    let productContainer = document.querySelector(".products");
    let cartCost = localStorage.getItem("totalCost")
    if (cartItems && productContainer) {
        productContainer.innerHTML = "";
        Object.values(cartItems).map(item => {
            productContainer.innerHTML +=
                `<div><div class="product" style="display: inline-block; width: 50%;">
                    <a onClick="removeItem('${item.tag}')"><ion-icon name="close-circle"></ion-icon></a>
                    <img src="/${item.image}" style="height: 100px; width:100px">
                    <span style="width: 30px">${item.name}</span>
                </div>
                <div class="price" style="display: inline-block; width: 10%; padding-left: 23px">${item.price}</div>
               <div class="quantity" style="display: inline-block; width: 25%; padding-left: 27px">
                   <a onClick="decreaseItems('${item.tag}')"><ion-icon name="arrow-dropleft-circle"></ion-icon></a>
                    <span id="${item.tag}" class="numberOfItems">${item.inCart}</span>
                   <a onClick="increaseItems('${item.tag}')"><ion-icon name="arrow-dropright-circle"></ion-icon></a>
               </div>
               <div class="productTotal" style="display: inline-block; width: 10%; padding-left: 34px" >
               ${Math.round(item.inCart * item.price * Math.pow(10, 2)) / Math.pow(10, 2)}
               </div></div>

               `;

        });
        productContainer.innerHTML += `<div class="basketTotalContainer">
        <h4 class="basketTotalTitle" style="display: inline-block;float: left; margin-left: 425px">Basket Total:</h4>
        <h4 class="basketTotal" style="display: inline-block; float: right" >$${cartCost}</h4>
        </div>`


    }
}

function increaseItems(itemTag) {
    let cartItems = JSON.parse(localStorage.getItem('productsInCart'));
    let cartCost = localStorage.getItem("totalCost")
    let productNumbers = localStorage.getItem("cartNumbers")
    let index = Object.values(cartItems).findIndex(item => item.tag === itemTag);

    Object.values(cartItems)[index].inCart++;

    let productTotal = document.querySelectorAll(".productTotal")
    let products = document.querySelectorAll(".numberOfItems");
    const totalCostOfProduct = Object.values(cartItems)[index].inCart * parseFloat(Object.values(cartItems)[index].price).toString();
    for (let i = 0; i < products.length; i++) {
        if (products[i].id === itemTag) {
            products[i].innerHTML = Object.values(cartItems)[parseInt(index)].inCart;
            productTotal[i].innerHTML = Math.round(totalCostOfProduct * Math.pow(10, 2)) / Math.pow(10, 2);
        }
    }

    const newTotalCost = parseFloat(cartCost) + parseFloat(Object.values(cartItems)[parseInt(index)].price);
    let costOfCart = document.querySelector(".basketTotal");
    costOfCart.innerHTML = "$" + Math.round(newTotalCost * Math.pow(10, 2)) / Math.pow(10, 2)

    productNumbers = parseInt(productNumbers);
    productNumbers++;

    document.querySelector("#numberOfProducts").innerHTML=productNumbers;

    localStorage.setItem("cartNumbers", productNumbers.toString());
    localStorage.setItem("totalCost", Math.round(newTotalCost * Math.pow(10, 2)) / Math.pow(10, 2));
    localStorage.setItem("productsInCart", JSON.stringify(cartItems));
}


function decreaseItems(itemTag) {
    let cartItems = JSON.parse(localStorage.getItem('productsInCart'));
    let cartCost = localStorage.getItem("totalCost")
    let productNumbers = localStorage.getItem("cartNumbers")
    let index = Object.values(cartItems).findIndex(item => item.tag === itemTag);


    if (Object.values(cartItems)[parseInt(index)].inCart <= 1) {


        let products = document.querySelectorAll(".numberOfItems");
        for (let i = 0; i < products.length; i++) {
            if (products[i].id === itemTag) {
                products[i].parentElement.parentElement.innerHTML = "";
            }
        }

        let keys = Object.keys(cartItems);
        let values = Object.values(cartItems);

        keys.splice(index, 1);
        values.splice(index, 1);

        let newObject = {};
        for (let i = 0; i < keys.length; i++) {
            newObject[keys[i]] = values[i];
        }
        const newTotalCost = parseFloat(cartCost) - parseFloat(Object.values(cartItems)[parseInt(index)].price);
        let costOfCart = document.querySelector(".basketTotal");
        costOfCart.innerHTML = "$" + Math.round(newTotalCost * Math.pow(10, 2)) / Math.pow(10, 2)

        productNumbers = parseInt(productNumbers);
        if (productNumbers<=1){
            localStorage.removeItem("cartNumbers")
            document.querySelector("#numberOfProducts").innerHTML="";
        }
        else{
            productNumbers--;
            localStorage.setItem("cartNumbers", productNumbers);
            document.querySelector("#numberOfProducts").innerHTML=productNumbers;
        }



        localStorage.setItem("totalCost", Math.round(newTotalCost * Math.pow(10, 2)) / Math.pow(10, 2));
        localStorage.setItem("productsInCart", JSON.stringify(newObject));

    } else {

        Object.values(cartItems)[index].inCart--;


        let productTotal = document.querySelectorAll(".productTotal")
        let products = document.querySelectorAll(".numberOfItems");
        const totalCostOfProduct = Object.values(cartItems)[index].inCart * parseFloat(Object.values(cartItems)[index].price).toString();
        for (let i = 0; i < products.length; i++) {
            if (products[i].id === itemTag) {
                products[i].innerHTML = Object.values(cartItems)[parseInt(index)].inCart;
                productTotal[i].innerHTML = Math.round(totalCostOfProduct * Math.pow(10, 2)) / Math.pow(10, 2);
            }
        }

        const newTotalCost = parseFloat(cartCost) - parseFloat(Object.values(cartItems)[parseInt(index)].price);
        let costOfCart = document.querySelector(".basketTotal");
        costOfCart.innerHTML = "$" + Math.round(newTotalCost * Math.pow(10, 2)) / Math.pow(10, 2)

        productNumbers = parseInt(productNumbers);
        productNumbers--;

        document.querySelector("#numberOfProducts").innerHTML=productNumbers


        localStorage.setItem("cartNumbers", productNumbers);
        localStorage.setItem("totalCost", Math.round(newTotalCost * Math.pow(10, 2)) / Math.pow(10, 2));
        localStorage.setItem("productsInCart", JSON.stringify(cartItems));
    }



}
function removeItem(itemTag) {
    let cartItems = JSON.parse(localStorage.getItem('productsInCart'));
    let cartCost = localStorage.getItem("totalCost")
    let productNumbers = localStorage.getItem("cartNumbers")
    let index = Object.values(cartItems).findIndex(item => item.tag === itemTag);

    let products = document.querySelectorAll(".numberOfItems");
    for (let i = 0; i < products.length; i++) {
        if (products[i].id === itemTag) {
            products[i].parentElement.parentElement.innerHTML = "";
        }
    }

    let keys = Object.keys(cartItems);
    let values = Object.values(cartItems);

    keys.splice(index, 1);
    values.splice(index, 1);

    let newObject = {};
    for (let i = 0; i < keys.length; i++) {
        newObject[keys[i]] = values[i];
    }
    const x = parseFloat(Object.values(cartItems)[parseInt(index)].price) * parseFloat(Object.values(cartItems)[parseInt(index)].inCart);
    const newTotalCost = parseFloat(cartCost) - x;
    let costOfCart = document.querySelector(".basketTotal");
    costOfCart.innerHTML = "$" + Math.round(newTotalCost * Math.pow(10, 2)) / Math.pow(10, 2);


    productNumbers = parseInt(productNumbers);
    if (productNumbers<=Object.values(cartItems)[parseInt(index)].inCart){
        localStorage.removeItem("cartNumbers")
        document.querySelector("#numberOfProducts").innerHTML="";
    }
    else{
        productNumbers = productNumbers-parseInt(Object.values(cartItems)[parseInt(index)].inCart);
        document.querySelector("#numberOfProducts").innerHTML=productNumbers
        localStorage.setItem("cartNumbers", productNumbers);
    }



    localStorage.setItem("totalCost", Math.round(newTotalCost * Math.pow(10, 2)) / Math.pow(10, 2));
    localStorage.setItem("productsInCart", JSON.stringify(newObject));
}

onLoadCartNumbers();
displayCart();

</script>
</body>
</html>
