<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Foodwagon | Responsive, Ecommerce &amp; Business Templatee</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap"
          rel="stylesheet">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
<!--    Bunu daxil etmesen headerin dizayni pozulur.-->
    <link href="assets/css/theme.css" rel="stylesheet"/>





</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #FFB30E">
        <div class="container">
            <a class="navbar-brand" href="#"><img class="d-inline-block" style="background-color: white; padding: 3px"
                                                  src="/assets/img/gallery/logo.svg"
                                                  alt="logo"/><span
                    style="color: white; margin-left: 5px; font-weight: 700; font-size: x-large">FoodwaGon</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:8081/index" style="color: white; font-weight: 555; font-size: large">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8081/index/search-results" style="color: white; font-weight: 555; font-size: large">Order Food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8081/about" style="color: white; font-weight: 555; font-size: large">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8081/contact" style="color: white; font-weight: 555; font-size: large">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8081/login" style="color: white; font-weight: 555; font-size: large">Login</a>
                    </li>
                    <li class="nav-item basket" style="background-color:white">
                        <a class="nav-link" href="http://localhost:8081/index/add-to-cart" style="color: #FFB30E; font-weight: 555; font-size: large">
                            <i class="fas fa-shopping-cart"></i>
                            Cart <span>0</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8081/logout" style="color: white; font-weight: 555; font-size: large">Logout</a>
                    </li>
                    <li class="nav-item">
                        <span style="color: orange; background-color: white; padding: 10px 20px; border-radius: 10px; font-size: 20px; margin-left: 25px; font-weight: bold" th:if="${#request.remoteUser}" th:text="${#request.remoteUser}" />
                    </li>


                </ul>
            </div>
        </div>
    </nav>


    <section class="py-5 overflow-hidden bg-primary" id="home">
        <div class="container">
            <div class="row flex-center">
                <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="img-landing-banner"
                                                                                  href="#!"><img class="img-fluid"
                                                                                                 src="assets/img/gallery/hero-header.png"
                                                                                                 alt="hero-header"/></a>
                </div>
                <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
                    <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">Are you starving?</h1>
                    <h1 class="text-800 mb-5 fs-4">Within a few clicks, find meals that<br class="d-none d-xxl-block"/>are
                        accessible near you</h1>
                </div>
            </div>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 bg-primary-gradient">

        <div class="container">
            <div class="row justify-content-center g-0">
                <div class="col-xl-9">
                    <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                        <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">How does it work</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3 mb-6">
                            <div class="text-center"><img class="shadow-icon" src="assets/img/gallery/location.png"
                                                          height="112" alt="..."/>
                                <h5 class="mt-4 fw-bold">Select location</h5>
                                <p class="mb-md-0">Choose the location where your food will be delivered.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 mb-6">
                            <div class="text-center"><img class="shadow-icon" src="assets/img/gallery/order.png"
                                                          height="112" alt="..."/>
                                <h5 class="mt-4 fw-bold">Choose order</h5>
                                <p class="mb-md-0">Check over hundreds of menus to pick your favorite food</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 mb-6">
                            <div class="text-center"><img class="shadow-icon" src="assets/img/gallery/pay.png"
                                                          height="112" alt="..."/>
                                <h5 class="mt-4 fw-bold">Pay advanced</h5>
                                <p class="mb-md-0">It's quick, safe, and simple. Select several methods of payment</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 mb-6">
                            <div class="text-center"><img class="shadow-icon" src="assets/img/gallery/meals.png"
                                                          height="112" alt="..."/>
                                <h5 class="mt-4 fw-bold">Enjoy meals</h5>
                                <p class="mb-md-0">Food is made and delivered directly to your home.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <!--    Restaurants-->
    <section class="py-4 overflow-hidden">

        <div class="container">
            <div class="row h-100">
                <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
                    <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Restaurants</h5>
                </div>
                <div class="col-12 container" style="width: 1000px">
                    <div class="carousel slide" id="restaurants" data-bs-touch="false"
                         data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <div class="row gx-3 h-100 align-items-center">
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100"
                                         th:each="restaurant : ${FirstRestaurants}">
                                        <div class="card card-span h-100 rounded-3"
                                             style="border-style: solid; border-color: #FFB30E; border-width: medium; width: 215px">
                                            <img class="img-fluid rounded-3"
                                                 style="height: 170px"
                                                 th:src="${restaurant.restaurantLogo}"
                                                 alt="..."/>
                                            <div class="card-body text-center">
                                                <h5 class="fw-bold text-1000 text-truncate mb-1"
                                                    th:text="${restaurant.location}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="10000">
                                <div class="row gx-3 h-100 align-items-center">
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100"
                                         th:each="restaurant : ${SecondRestaurants}">
                                        <div class="card card-span rounded-3 h-100"
                                             style="border-style: solid; border-color: #FFB30E; border-width: medium; width: 215px">
                                            <img class="img-fluid rounded-3"
                                                 style="height: 170px"
                                                 th:src="${restaurant.restaurantLogo}"
                                                 alt="..."/>
                                            <div class="card-body" style="text-align: center">
                                                <h5 class="fw-bold text-1000 text-truncate mb-1"
                                                    th:text="${restaurant.location}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev carousel-icon" type="button"
                                data-bs-target="#restaurants" data-bs-slide="prev"><span
                                class="carousel-control-prev-icon hover-top-shadow" aria-hidden="true"></span><span
                                class="visually-hidden">Previous</span></button>
                        <button class="carousel-control-next carousel-icon" type="button"
                                data-bs-target="#restaurants" data-bs-slide="next"><span
                                class="carousel-control-next-icon hover-top-shadow" aria-hidden="true"></span><span
                                class="visually-hidden">Next </span></button>
                    </div>
                </div>
            </div>
        </div><!-- end of .container-->

    </section>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-4 overflow-hidden">

        <div class="container">
            <div class="row h-100">
                <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
                    <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Popular items</h5>
                </div>
                <div class="col-12">
                    <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false"
                         data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <div class="row gx-3 h-100 align-items-center">
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100"
                                         th:each="food : ${FirstFivePopularItems}">
                                        <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3"
                                                                                         style="height: 170px"
                                                                                         th:src="${food.getImage()}"
                                                                                         alt="..."/>
                                            <div class="card-body ps-0">
                                                <h5 class="fw-bold text-1000 text-truncate mb-1"
                                                    th:text="${food.getName()}"/>
                                                <div><span class="text-warning me-2"><i
                                                        class="fas fa-map-marker-alt"></i></span><span
                                                        class="text-primary" th:text="${food.getLocationEntity().location}"/></div>
                                                <span class="text-1000 fw-bold"
                                                      th:text="${food.getCurrency()+food.getPrice()}"/>
                                            </div>
                                        </div>
                                        <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" th:href="'http://localhost:8081/index/search-results/'+ ${food.getName()}"
                                                                     role="button">Order now</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="10000">
                                <div class="row gx-3 h-100 align-items-center">
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 " style="height: 350px"
                                         th:each="food : ${SecondFivePopularItems}">
                                        <div class="card card-span  rounded-3"><img class="img-fluid rounded-3"
                                                                                    style="height: 170px"
                                                                                    th:src="${food.getImage()}"
                                                                                    alt="..."/>
                                            <div class="card-body ps-0">
                                                <h5 class="fw-bold text-1000 text-truncate mb-1"
                                                    th:text="${food.getName()}"/>
                                                <div><span class="text-warning me-2"><i
                                                        class="fas fa-map-marker-alt"></i></span><span
                                                        class="text-primary" th:text="${food.getLocationEntity().location}"/></div>
                                                <span class="text-1000 fw-bold"
                                                      th:text="${food.getCurrency()+food.getPrice()}"/>
                                            </div>
                                        </div>
                                        <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" th:href="'http://localhost:8081/index/search-results/'+ ${food.getName()}"
                                                                     role="button">Order now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev carousel-icon" type="button"
                                data-bs-target="#carouselPopularItems" data-bs-slide="prev"><span
                                class="carousel-control-prev-icon hover-top-shadow" aria-hidden="true"></span><span
                                class="visually-hidden">Previous</span></button>
                        <button class="carousel-control-next carousel-icon" type="button"
                                data-bs-target="#carouselPopularItems" data-bs-slide="next"><span
                                class="carousel-control-next-icon hover-top-shadow" aria-hidden="true"></span><span
                                class="visually-hidden">Next </span></button>
                    </div>
                </div>
            </div>
        </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-8 overflow-hidden">

        <div class="container">
            <div class="row flex-center mb-6">
                <div class="col-lg-7">
                    <h5 class="fw-bold fs-3 fs-lg-5 lh-sm text-center text-lg-start">Search by Food</h5>
                </div>
                <div class="col-lg-4 text-lg-end text-center"><a class="btn btn-lg text-800 me-2"
                                                                 style="background-color: #c15b20"
                                                                 href="http://localhost:8081/index/search-results"
                                                                 role="button"><span
                        style="color: white">VIEW ALL</span><i
                        class="fas fa-chevron-right ms-2" style="color: white"></i></a></div>
            </div>
            <div class="row flex-center">
                <div class="col-12">
                    <div class="carousel slide" id="carouselSearchByFood" data-bs-touch="false"
                         data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <div class="row h-100 align-items-center">
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                        <a href="http://localhost:8081/index/search-results/pizza">
                                            <div class="card card-span h-100 rounded-circle"><img
                                                    class="img-fluid rounded-circle h-100"
                                                    src="assets/img/gallery/search-pizza.png" alt="..."/>
                                                <div class="card-body ps-0">
                                                    <h5 class="text-center fw-bold text-1000 text-truncate mb-2">
                                                        Pizza</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                        <a href="http://localhost:8081/index/search-results/burger">
                                            <div class="card card-span h-100 rounded-circle"><img
                                                    class="img-fluid rounded-circle h-100"
                                                    src="assets/img/gallery/burger.png" alt="..."/>
                                                <div class="card-body ps-0">
                                                    <h5 class="text-center fw-bold text-1000 text-truncate mb-2">
                                                        Burger</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                        <a href="http://localhost:8081/index/search-results/soup">
                                            <div class="card card-span h-100 rounded-circle"><img
                                                    class="img-fluid rounded-circle h-100"
                                                    src="assets/img/gallery/soup.png" alt="..."/>
                                                <div class="card-body ps-0">
                                                    <h5 class="text-center fw-bold text-1000 text-truncate mb-2">
                                                        Soup</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                        <a href="http://localhost:8081/index/search-results/spaghetti">
                                            <div class="card card-span h-100 rounded-circle"><img
                                                    class="img-fluid rounded-circle" height="100px"
                                                    src="assets/img/gallery/spaghetti.png" alt="..."/>
                                                <div class="card-body ps-0">
                                                    <h5 class="text-center fw-bold text-1000 text-truncate mb-2">
                                                        Spaghetti</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                        <a href="http://localhost:8081/index/search-results/salad">
                                            <div class="card card-span h-100 rounded-circle"><img
                                                    class="img-fluid rounded-circle h-100"
                                                    src="assets/img/gallery/salad.png" alt="..."/>
                                                <div class="card-body ps-0">
                                                    <h5 class="text-center fw-bold text-1000 text-truncate mb-2">
                                                        Salad</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                        <a href="http://localhost:8081/index/search-results/sushi">
                                            <div class="card card-span h-100 rounded-circle"><img
                                                    class="img-fluid rounded-circle h-100"
                                                    src="assets/img/gallery/sushi.png" alt="..."/>
                                                <div class="card-body ps-0">
                                                    <h5 class="text-center fw-bold text-1000 text-truncate mb-2">
                                                        Sushi</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                        <a href="http://localhost:8081/index/search-results/cake">
                                            <div class="card card-span h-100 rounded-circle"><img
                                                    class="img-fluid rounded-circle h-100"
                                                    src="assets/img/gallery/cake.png" alt="..."/>
                                                <div class="card-body ps-0">
                                                    <h5 class="text-center fw-bold text-1000 text-truncate mb-2">
                                                        Cake</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <section>
        <div class="bg-holder"
             style="background-image:url(assets/img/gallery/cta-one-bg.png);background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-10">
                    <div class="card card-span shadow-warning" style="border-radius: 35px;">
                        <div class="card-body py-5">
                            <div class="row justify-content-evenly">
                                <div class="col-md-3">
                                    <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between">
                                        <img src="assets/img/icons/discounts.png" width="100" alt="..."/>
                                        <div class="d-flex d-lg-block d-xl-flex flex-center">
                                            <h2 class="fw-bolder text-1000 mb-0 text-gradient">Daily<br
                                                    class="d-none d-md-block"/>Discounts </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 hr-vertical">
                                    <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between">
                                        <img src="assets/img/icons/live-tracking.png" width="100" alt="..."/>
                                        <div class="d-flex d-lg-block d-xl-flex flex-center">
                                            <h2 class="fw-bolder text-1000 mb-0 text-gradient">Live Tracking</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 hr-vertical">
                                    <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between">
                                        <img src="assets/img/icons/quick-delivery.png" width="100" alt="..."/>
                                        <div class="d-flex d-lg-block d-xl-flex flex-center">
                                            <h2 class="fw-bolder text-1000 mb-0 text-gradient">Quick Delivery </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-center mt-md-8">
                <div class="col-lg-5 d-none d-lg-block" style="margin-bottom: -122px;"><img class="w-100"
                                                                                            src="assets/img/gallery/phone-cta-one.png"
                                                                                            alt="..."/></div>
                <div class="col-lg-5 mt-7 mt-md-0">
                    <h1 class="text-primary">Install the app</h1>
                    <p>It's never been easier to order food. Look for the finest <br class="d-none d-xl-block"/>discounts
                        and you'll be lost in a world of delectable food.</p><a class="pe-2"
                                                                                href="https://www.apple.com/app-store/"
                                                                                target="_blank"><img
                        src="assets/img/gallery/app-store.svg" width="160" alt=""/></a><a
                        href="https://play.google.com/store/apps" target="_blank"><img
                        src="assets/img/gallery/google-play.svg" width="160" alt=""/></a>
                </div>
            </div>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pb-5 pt-8">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card card-span mb-3 shadow-lg">
                        <div class="card-body py-0">
                            <div class="row justify-content-center">
                                <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1"><img
                                        class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-end rounded-md-top-0"
                                        src="assets/img/gallery/pictures-for-index/spaghetti.png" alt="..."/></div>
                                <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                                    <h1 class="card-title mt-xl-5 mb-4">Best deals <span
                                            class="text-primary">Spaghetti</span>
                                    </h1>
                                    <p class="fs-1">You can feel yourself in italy while eating these spaghetti.</p>
                                    <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6"
                                                                    href="http://localhost:8081/index/search-results/spaghetti">PROCEED
                                        TO ORDER<i class="fas fa-chevron-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card card-span mb-3 shadow-lg">
                        <div class="card-body py-0">
                            <div class="row justify-content-center">
                                <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-md-0"><img
                                        class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-start rounded-md-top-0"
                                        src="assets/img/gallery/pictures-for-index/burger.png" alt="..."/></div>
                                <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                                    <h1 class="card-title mt-xl-5 mb-4">Celebrate parties with <span
                                            class="text-primary">Burger</span></h1>
                                    <p class="fs-1">Eat the best burgers in your city in just a few clicks.</p>
                                    <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6"
                                                                    href="http://localhost:8081/index/search-results/burger">PROCEED
                                        TO ORDER<i class="fas fa-chevron-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-5">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card card-span mb-3 shadow-lg">
                        <div class="card-body py-0">
                            <div class="row justify-content-center">
                                <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1"><img
                                        class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-end rounded-md-top-0"
                                        src="assets/img/gallery/pictures-for-index/pizza.png" alt="..."/></div>
                                <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                                    <h1 class="card-title mt-xl-5 mb-4">Wanna eat hot & <span class="text-primary">spicy Pizza?</span>
                                    </h1>
                                    <p class="fs-1">Pair up with a friend and enjoy the hot and crispy pizza pops. Try
                                        it with the best deals.</p>
                                    <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6"
                                                                    href="http://localhost:8081/index/search-results/pizza">PROCEED
                                        TO ORDER<i class="fas fa-chevron-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <section class="py-0">
        <div class="bg-holder"
             style="background-image:url(assets/img/gallery/cta-two-bg.png);background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row flex-center">
                <div class="col-xxl-9 py-7 text-center">
                    <h1 class="fw-bold mb-4 text-white fs-6">Are you ready to order <br/>with the best deals? </h1><a
                        class="btn btn-danger" href="http://localhost:8081/index/search-results"> PROCEED TO ORDER<i class="fas fa-chevron-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </section>


    <footer class="text-center text-white" style="background-color: white; width: 100%">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3" style="font-size: x-large; color: black">Register for free</span>
                    <a href="http://localhost:8081/register"><button type="button" class="btn btn-outline-light btn-rounded" style="font-size: x-large; color: black">
                        Sign up!
                    </button></a>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);color: black">
            © 2020 Copyright:
            <a class="text-white" href="#!" style="color: black">foodWagon.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<script !src="">
    function onLoadCartNumbers() {
        let productNumbers = localStorage.getItem("cartNumbers");

        document.querySelector(".basket span").textContent = productNumbers;
    }

    onLoadCartNumbers()

</script>


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="vendors/@popperjs/popper.min.js"></script>
<script src="vendors/bootstrap/bootstrap.min.js"></script>
<script src="vendors/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="vendors/fontawesome/all.min.js"></script>
<script src="assets/js/theme.js"></script>





</body>

</html>