<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form/>
    <input type="text"  id="tb1" />
    <input type="text" id="tb2" />
    <input type="submit" id="bt1" value="click" onclick="localStorage.setItem('Sifre', document.getElementById('LoginForm_password').value);
    localStorage.setItem('isdifadeci adi', document.getElementById('LoginForm_username').value )
     localStorage.clear = function (){console.log('sdaad')}"/>
</form>
<script>
    function onSubmit(){
        var sifre = document.getElementById("LoginForm_password").value;
        var sifreString = sifre.toString()
        localStorage.setItem("sifre", sifre);
        onclick="sessionStorage.setItem('Sifre', document.getElementById('LoginForm_password').value )";
        setCookie("sifre", )
        sessionStorage

    }
window.localStorage = e


</script>
</body>
</html>
